<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summary Author</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
</head>
<body>
	<div th:include="navbar :: navbar"></div>
	<h1>Summary Author</h1>
	
	<!-- <div>
    	<p th:text="'firstname: ' + ${author.firstName}" />
    </div>
    <div>
    	<p th:text="'lastname: ' + ${author.lastName}" />
    </div>
    <div>
    	<p th:text="'birthDate: ' + ${author.birthDate}" />
    </div>
    <div>
    	<p th:text="'deathDate: ' + ${author.deathDate}" />
    </div>
    <div>
    	<p th:text="'nation: ' + ${author.nation.name}" />
    </div>
     -->
     
	<table class="table table-hover">
      <tr>
        <th>Operas</th>
      </tr>
      <tr th:each="opera : ${operas}">
        <td><a th:href="@{'/opera/detail'}" th:text="${opera.title}"></a></td>
      </tr>
    </table>
</body>
</html>