<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>New Nation</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/management.css' />
	</head>
	<body>
	
		<div th:include="navbar :: navbar"></div>
		<div class="centered">
				<form action="#" th:action="@{/admin/nation/add}" th:object="${nation}" method="post">
					<fieldset>
						<legend>Add Nation</legend>
							<div class="form-group">
								<label>Name:</label> 
								<input type="text" th:field="*{name}" />
					    		<span th:if="${#fields.hasErrors('name')}">Error</span>
				    		</div>
				    		<div class="form-group"><button type="submit" class="btn btn-success">Add</button></div>
					</fieldset>
				</form>
		</div>	
	</body>
</html>