<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>New Nation</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
	</head>
<body>
	<div th:include="navbar :: navbar"></div>
	<form action="#" th:action="@{/nation/add}" th:object="${nation}"
		method="post">
		<div>
			<div>
				<span>Name: </span> <span><input type="text"
					th:field="*{name}" /></span> <span th:if="${#fields.hasErrors('name')}">Error</span>
			</div>
			<div>
				<span><button type="submit">Submit</button></span>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>