<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>New Author</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel='stylesheet' href='/webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/management.css' />
	</head>
	<body>
		<div th:include="navbar :: navbar"></div>
		<div class="centered">
				<form action="#" th:action="@{/admin/author/add}" th:object="${author}" method="post">
					<fieldset>
						<legend>Add Author</legend>
							<div class="form-group">
								<label>FirstName:</label> 
								<input type="text" th:field="*{firstName}" />
					    		<span th:if="${#fields.hasErrors('firstName')}">Error</span>
				    		</div>
				    		<div class="form-group">
								<label>LastName:</label> 
								<input type="text" th:field="*{lastName}" />
					    		<span th:if="${#fields.hasErrors('lastName')}">Error</span>
				    		</div>
				    		<div class="form-group">
								<label>BirthDate:</label> 
								<input type="date" th:field="*{birthDate}" />
					    		<span th:if="${#fields.hasErrors('birthDate')}">Error</span>
				    		</div>
				    		<div class="form-group">
								<label>DeathDate:</label> 
								<input type="date" th:field="*{deathDate}" />
					    		<span th:if="${#fields.hasErrors('deathDate')}">Error</span>
				    		</div>
				    		<div class="form-group">
								<label>Nation:</label> 
								<select id="nation" th:field="*{nation}" class="form-control" >
			                		<option value="" >select a nation</option>
			                		<option th:each="n : ${nations}" th:value="${n.id}"  th:text="${n.name}"></option>
			            		</select>
					    		<span th:if="${#fields.hasErrors('nation')}">Error</span>
				    		</div>
							<div class="form-group"><button type="submit" class="btn btn-success">Add</button></div>
					</fieldset>
				</form>
		</div>	
	</body>
</html>
